@model Product

@{
    Layout = "_Layout";
}

<form action="/Product/Edit" method="post" class="website-content default-page">
    <h2 class="default-page-title">@ViewBag.Title</h2>
    <div class="product-plate">
        <div class="product-plate-content">
            <div class="product-model">
                <div class="product-model-info">
                    <input name="Id" value="@Model.Id" type="hidden" class="default-field-input" />
                    <input name="ImageId" value="@Model.ImageId" type="hidden" class="default-field-input" />
                    <h2 class="product-title">Наименование</h2>
                    <input name="Name" value="@Model.Name" type="text" class="default-field-input" />
                    <h2 class="product-title">Цена</h2>
                    <input name="Price" value="@Model.Price" type="number" class="default-field-input" />
                    <h2 class="product-title">Количество</h2>
                    <input name="Number" value="@Model.Number" type="number" class="default-field-input" />
                    <h2 class="product-title">Категория</h2>
                    <select name="CategoryId">
                        <option selected hidden>@Model.Category.Name</option>
                        @foreach (Subcategory subcategory in ViewBag.Subcategories)
                        {
                            <option name="CategoryId" value="@subcategory.Id">@subcategory.Name</option>
                        }
                    </select>
                    <h2 class="product-title">Изображение</h2>
                    <input type="file" id="imgInput" name="uploadedImage" class="default-field-input" />
                    @Html.Raw("<img id=\"product-img\" style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                                    + Convert.ToBase64String(Model.Image.ImageData) + "\" />")
                    <div class="button-plate">
                        <form action="/Product/Edit" method="post">
                            <button class="add-to-cart-button">Сохранить</button>
                        </form>
                        <form action="/Home/Index">
                            <button class="add-to-cart-button">Отмена</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/product.js"></script>
